# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories
.idea/
.vscode/

# OS misc
.DS_Store
Thumbs.db
